.container_form {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    height: 800px;
    width: 80%;
    background-color: #fff;
    box-shadow: 2px 0 6px -1px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.1),
                -2px 0 6px -1px rgba(0, 0, 0, 0.1);
    position: relative;
}

/****************************************************/

.navbar {
    height: 15%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    padding-left: 20px;
    word-spacing: 10px;
}

/****************************************************/

.container_label_inputs {
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.first_container {
    display: flex;
    padding-bottom: 30px;
}
.first_first_container {
    display: flex;
    width: 22%;
    justify-content: center;
    align-items: center;
}
.container_image {
    width: 250px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.341);
    border: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_container {
    padding-left: 20px;
}
.container_telephone, .container_jobTelephone, .container_contactCellphone,
.second_first_container_first_line,
.second_first_container_second_line,
.second_first_container_third_line{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container_idDoc, .container_educationLevel,
.container_profession,  .container_email,
.container_name, .container_lastName {
    width: 50%;
}
.container_idDoc input, .container_educationLevel input,
.container_profession input,  .container_email input,
.container_name input, .container_lastName input {
    width: 95%;
    border-radius: 3px;
    border: 1px solid black;
}
.second_first_container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.first_second_container {
    display: flex;
    width: 100%;
}
.container_telephone, .container_jobTelephone, .container_contactCellphone {
    width: 100%;
}
.container_telephone input, .container_jobTelephone input, .container_contactCellphone input {
    width: 95%;
    border-radius: 3px;
    border: 1px solid black;
}
.second_second_container {
    display: flex;
    width: 100%;
}
.container_address,
.container_jobAddress {
    width: 100%;
}
.container_address input ,
.container_jobAddress input {
    width: 95%;
    border-radius: 3px;
    border: 1px solid black;
}


.container_idDoc, .container_name, .container_lastName,
.container_educationLevel, .container_profession, .container_address,
.container_jobAddress, .container_telephone, .container_jobTelephone,
.container_contactCellphone, .container_email {
    position: relative;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container_idDoc p, .container_name p, .container_lastName p,
.container_educationLevel p, .container_profession p, .container_address p,
.container_jobAddress p, .container_telephone p, .container_jobTelephone p,
.container_contactCellphone p, .container_email p{
    position: absolute;
    color: red;
    font-size: 11px;
    bottom: 1%;
} 

/****************************************************/

.submit_button {
    position: absolute;
    width: 130px;
    bottom: 3%;
    right: 3%;
    background-color: rgb(14, 17, 56);
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    font-size: 18px;
}
.submit_button:hover {
    background-color: rgb(22, 25, 74);
}
.submit_button:disabled {
    background-color: rgb(22, 25, 74, 0.549);
    color: #ffffff89;
    border: none;
}